body{
/* commentaires*/                                          
/* font-family: 'Geneva', 'Tahoma', 'sans-serif';*/
    font-family: 'Geneva', 'Tahoma', 'sans-serif';
    margin:0px;
}

header{
/*background: url('image.PNG');*/
background-color: midnightblue;
text-align: center;
color:yellowgreen;
padding: 30px 30px 150px 30px ;
background-position: center center ;
}

header h1{
    font-size:6em;
    margin-top:150px;
/*border-top: 2px solid rgba(255, 255, 255, 0.75);*/
border-bottom: 2px solid rgba(255, 255, 255, 0.75);
padding-bottom: 60px;
}

header h2{
    font-size: 2.5em;
    margin-top: -25px;
    font-style: italic;
}

header h1, header h2{
    text-shadow: 0em 0 5px rgba(157, 238, 6, 0.972) ;
  
}

